<div class="container">
    <h1 style="text-align: center;">Whack-a-Mole!</h1>
    <div style="width: 800px; height: 500px; border: 2px solid gray;">
        <!-- [ngStyle]="whack ? {'background-color': 'red'} : {}"-->
        <div class="mole" style="left: 100px; top: 50px;" [ngStyle]="moles[0] ? {} : {'visibility': 'hidden'}">
            o o
        </div>
        <div class="mole" style="left: 250px; top: 50px;" [ngStyle]="moles[1] ? {} : {'visibility': 'hidden'}">
            o o
        </div>
        <div class="mole" style="left: 400px; top: 50px;" [ngStyle]="moles[2] ? {} : {'visibility': 'hidden'}">
            o o
        </div>
        <div class="mole" style="left: -200px; top: 300px;" [ngStyle]="moles[3] ? {} : {'visibility': 'hidden'}">
            o o
        </div>
        <div class="mole" style="left: -50px; top: 300px;" [ngStyle]="moles[4] ? {} : {'visibility': 'hidden'}">
            o o
        </div>
        <div class="mole" style="left: 100px; top: 300px;" [ngStyle]="moles[5] ? {} : {'visibility': 'hidden'}">
            o o
        </div>

        <ng-container *ngFor="let player of players; index as p">
            <div style="width: 10px; height: 10px; position: absolute; z-index: 999999;"
                [ngStyle]="{'left': 'calc(' + player.xpx + ' + ((100vw - 800px)/2))', 'top': 'calc(110px + ' + player.ypx + ')', 'background-color': colors[p]}">
            </div>
        </ng-container>
    </div>

    <!-- X: {{x}}
    Y: {{y}} -->

    <h1>Scores:</h1>
    <ng-container *ngFor="let player of players; index as p">
        <span [ngStyle]="{'color': colors[p]}">
            {{player.name}}: {{player.score}}&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </ng-container>
</div>